<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/all.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% if page_title %}{{ page_title }} - {% endif %}СПИ расписание</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img class="d-inline-block" src="/static/img/logo_blue_white.png" width="100px" alt="logo">
                        <span style="font-size: 30px; font-weight: bold">СФУР СПИ</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                           
                        </ul>
                        <div class="d-flex align-items-center">
                            <span style="font-size: 18px; font-weight: bold;">Администратор &nbsp</span>
                            <button type="button" class="btn btn-outline-danger" onclick="handleLogout()">
                                Выйти
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="mb-4"></div>

    <!-- Добавляем скрипты Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="/static/js/auth.js"></script>
</body>
</html>